<div class="sidebar-section">
  <div >
    <div class="sidebar-user-a">
      <a href="/dashboard"><img src="{{assets}}/img/image.gif" width="230px"></a>
    </div>
      <div class="sidebar-section__separator">Dashboard</div>
      <ul class="sidebar-section-nav">
        <li class="sidebar-section-nav__item">
          <a class="sidebar-section-nav__link" href="/">
            <span class="sidebar-section-nav__item-icon fas fa-home"></span>
            <span class="sidebar-section-nav__item-text">Inicio</span>
            <!--span class="badge sidebar-section-nav__badge">2</span-->
          </a>
        </li>
        <li class="sidebar-section-nav__item">
          <a class="sidebar-section-nav__link" href="/reserver/crud">
            <span class="sidebar-section-nav__item-icon fas fa-tags"></span>
            <span class="sidebar-section-nav__item-text">Reservas</span>
            <!--span class="badge sidebar-section-nav__badge">2</span-->
          </a>
        <li>
      </ul>
    </div>

    <!--<div class="sidebar-section-nav__footer">
      <ul class="sidebar-section-nav">
        <li class="sidebar-section-nav__item sidebar-section-nav__item-btn mb-4">
          <a href="#" class="btn btn-info btn-block">Create project</a>
        </li>
      </ul>
      <div class="sidebar__collapse">
        <span class="icon ua-icon-collapse-left-arrows"></span>
      </div>
    </div>
  </div>
  -->
</div>