{% extends '/layout/default_layout.twig' %}
{% block container %}
    <section class="bg-gray-darkest context-dark mt-3 pt-2" id="reserve-now">
          <div class="container">
            <h1><span class="d-block font-accent big">Reserva Ahora</span><b class="d-block offset-top-4 h4 text-uppercase">CADA INVITADO ES ESPECIAL AQUI</b></h1>
            <hr class="divider bg-mantis offset-top-30">
            <!-- RD Mailform-->
            <form class="rd-mailform text-left" data-form-output="form-output-global" data-form-type="contact" method="post" action="/reserver/make">
              <div class="row grid-group-sm">
                <div class="col-md-6 col-lg-3">
                  <div class="form-group has-feedback">
                    <label class="form-label form-label-sm form-label-outside" for="form-reserve-name">Nombre:</label>
                    <input class="form-control input-sm" id="form-reserve-name" type="text" data-constraints="@Required" name=":nameCustomer" required><span class="form-control-feedback mdi mdi-account" aria-hidden="true"></span>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3">
                  <div class="form-group has-feedback">
                    <label class="form-label form-label-sm form-label-outside" for="form-reserve-phone">Teléfono:</label>
                    <input class="form-control input-sm" id="form-reserve-phone" type="text" data-constraints="@Required" name=":phoneCustomer" required><span class="form-control-feedback mdi mdi-phone" aria-hidden="true"></span>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3">
                  <div class="form-group has-feedback">
                    <label class="form-label form-label-sm form-label-outside" for="form-reserve-email">Correo Electrónico:</label>
                    <input class="form-control input-sm" id="form-reserve-email" type="email" data-constraints="@Required" name=":emailCustomer"><span class="form-control-feedback mdi mdi-email" aria-hidden="true"></span>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3">
                  <div class="form-group has-feedback">
                    <label class="form-label form-label-sm form-label-outside" for="form-reserve-date">Fecha:</label>
                    <input class="form-control input-sm" id="form-reserve-date" type="date" data-constraints="@Required" name=":dateReserver" min="{{now|date('Y-m-d')}}" required><span class="form-control-feedback mdi mdi-calendar" aria-hidden="true" required></span>
                  </div>
                </div>
                <div class="col-md-4 col-lg-2">
                  <div class="form-group has-feedback">
                    <label class="form-label form-label-sm form-label-outside" for="form-reserve-time">Hora [24 h]:</label>
                    <input class="form-control input-sm" id="form-reserve-time" type="time" data-constraints="@Required" name=":timeReserver" min="08:00" max="20:30" required><span class="form-control-feedback mdi mdi-clock" aria-hidden="true"></span>
                  </div>
                </div>
                <div class="col-md-2 col-lg-1">
                  <div class="form-group">
                    <label class="form-label form-label-sm form-label-outside" for="form-reserve-persons">Personas:</label>
                    <input type="number" class="form-control input-sm" id="form-reserve-persons" name=":numPerson" value="2" required>
                  </div>
                </div>
                <div class="col-md-4 col-lg-3">
                  <div class="form-group">
                    <label class="form-label form-label-sm form-label-outside" for="form-reserve-type">Mesa:</label>
                    <select class="form-control input-sm" id="form-reserve-type" name=":typeReserver" data-minimum-results-for-search="Infinity">
                      <option value="1" selected>Sin Decoración</option>
                      <option value="2">Con Decoración - $30.000</option>
                    </select>
                  </div>
                </div>
                <div id="form-reserve-typeDesc" class="col-md-4 col-lg-3" style="display: none">
                  <div class="form-group">
                    <label class="form-label form-label-sm form-label-outside" for="form-reserve-typeDesc">Motivo de decoración:</label>
                    <input type="text" name=":description" class="form-control input-sm">
                  </div>
                </div>
                <div class="col-md-4 col-lg-3">
                  <div class="form-group">
                    <label class="form-label form-label-sm form-label-outside" for="form-reserve-venues">Sede:</label>
                    <select class="form-control input-sm" id="form-reserve-venues" name=":venues" data-minimum-results-for-search="Infinity">
                      <option value="1">Calle 7 Oeste #1-70</option>
                      <option value="2">Cl. 25 #85b, Ingenio</option>
                      <option value="3">23a la maria, Cra. 125 #58, Pance</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="group offset-top-20 text-center offset-top-50 pt-5">
                <button class="btn btn-primary" type="submit" style="padding-left: 30px; padding-right: 30px;" id="submit">Hacer Reserva</button>
              </div>
            </form>
          </div>
        </section>
{% endblock %}
{% block script %}
    <script>
    	$(function() {
    		$('#form-reserve-type').on('change', function(){
    			if($("#form-reserve-type option:selected").val() > 1){
    				$('#form-reserve-typeDesc').removeAttr('style');
    				$('#form-reserve-typeDesc input').attr('required');
    			}else{
    				$('#form-reserve-typeDesc').attr('style', 'display: none');
    				$('#form-reserve-typeDesc input').removeAttr('required');
    			} 
    		});

    		$('#form-reserve-persons').on('change', function(){
    			if($(this).val() > 12){
    				alert('Para reservar mas de 12 personas debe comunicarse con nuestra sede para poder realizarla');
    				$('#submit').attr('style', 'display: none');
            $('body').keydown(function(e) {
                tecla = (document.all) ? e.keyCode :e.which;
                return (tecla!=13);
            });
    			}else{
    				$('#submit').attr('style', 'padding-left: 30px; padding-right: 30px;');
    			}
    		});
    	});
    </script>
{% endblock %}